{% extends "base.html" %}

{% block content %}
<h2 style="color:rgb(160, 11, 147);">Alarm Time off Calculator</h2>
<form method = "post">
    <label for = "current_hours"> Enter the current time (in hours, 0-23) : </label>
    <input type ="number" id = "current_hours" name = "current_hours" min =0 max =23  required>
    <label for = "current_minutes">Minutes: </label>
    <input type ="number" id = "current_minutes" name = "current_minutes" min =0 max =59 required>
    <br>
    <label for = "hours_to_wait">Enter the number of hours to wait for the alarm : </label>
    <input type="number"  id = "hours_to_wait" name = "hours_to_wait" min = 1 required>
    <label for = "minutes_to_wait">Minutes : </label>
    <input type="number"  id = "minutes_to_wait" name = "minutes_to_wait" min = 0 max = 59 step="1" required>
    <h5></h5><button type = "submit"> Calculate</button></form></h5>
</form>

{% if current_time is not none %}
<h3>Output</h3>
<p style="font-size: 18px; font-weight: bold;">Current time: {{ current_hours }} : {{current_minutes}}</p>
<p style="font-size: 18px; font-weight: bold;">Hours to wait: {{ hours_to_wait }} : {{minutes_to_wait}}</p>
<p style="font-size: 20px; font-weight: bold;color: rgb(250, 12, 159)">Time when the alarm goes off: {{ alarm_time }}</p>
{% endif %}

<ul>
    <li><a href = "{{url_for('home')}}"> Home</a></li>
    <li><a href = "{{url_for('meal')}}"> Meal Calculator</a></li>
</ul>
{% endblock content %}